<div class='nested-fields'>
  <div class="field">
    <%= f.label :body, value:"タグの説明" %>
    <%= f.text_area :body %>
  </div>
  <%= link_to_remove_association "説明を消す", f,class:"btn btn-outline-danger btn-sm" %>
  <hr>
</div>